<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commHead('게시글 목록')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::topNavbar('boardList')}"></nav>

<!--.container>.row.justify-content-center>.col.col-lg-6>h2.mt-3.mb-3{게시글 목록}+table>thead>tr>th*4^^tbody>tr>td*4-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <h2 class="mt-3 mb-3">게시글 목록</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.seq}"></td>
                    <td>
                        <a th:href="@{/board/detail(seq=${board.seq})}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.createdAt, 'yyyy년 MM월 dd일')}"></td>
                </tr>
                </tbody>
            </table>

            <!-- https://getbootstrap.com/docs/5.3/components/pagination/#working-with-icons -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"
                        th:classappend="${leftPageNumber > 10 ? '' : 'disabled'}">
                        <a class="page-link"
                           th:href="@{/board/list(page=${leftPageNumber - 10})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(leftPageNumber, rightPageNumber)}"
                        class="page-item"
                        th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                        <a th:text="${pageNumber}"
                           class="page-link"
                           th:href="@{/board/list(page=${pageNumber})}">1
                        </a>
                    </li>
                    <li class="page-item"
                        th:classappend="${(rightPageNumber + 1) <= totalPageCount ? '' : 'disabled'}">
                        <a class="page-link"
                           th:href="@{/board/list(page=${rightPageNumber + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="mb-3">
                <a th:href="@{/board/write}" class="btn btn-primary">글작성</a>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout/main::commScript}"/>
</body>
</html>